header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;

    .title {
        margin: 0 auto;
        padding-block: 50px;

        & :hover {
            transform: scale(1.1) translatey(-10px);
        }

        & .logo {
            box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.88);
        }
    }

    .navbar-nav a {
        color: $colorPrimary;
        font-size: 2rem;
        font-family: $fontUbuntu;
        font-weight: bold;
        letter-spacing: 3px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);



    }

    .navbar-nav :hover {
        color: $colorSecundary;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
        transform: scale(1.1) translatey(-5px);

    }

//titulo de hojas.
    .title__hojas {
        width: auto;
        font-family: $fontUbuntu;
        font-size: 8rem;
        font-weight: bold;
        letter-spacing: 20px;
        color: rgb(255, 255, 255);
        text-shadow: -3px 3px 8px rgba(0, 0, 0, 1);
        box-shadow: 2px 7px 8px 2px rgba(0, 0, 0, 1);
        border: 8px ridge $colorPrimary;
        margin: 0 auto;
        margin-block: 30px;
    
    }

}