* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontUbuntu;
    & body{
        background-image: url(https://w0.peakpx.com/wallpaper/220/854/HD-wallpaper-whatsapp-black-abstract-abstract-digital-abstraction-abstracts-background-digital-pattern-texture.jpg);

    }
}
