@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300;500;700 & display=swap');
$fontUbuntu: 'Ubuntu' cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');
$fontRoboto:  'Reboto', cursive;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
$fontKanit: 'Kanit';

$colorPrimary:#EBB600;;
$colorSecundary: #ffffff;
$colorPrimaryBeta:#FFD700;
$colorfound: rgba(189, 27, 27, 0.413);
$textshadow: 1px 0px 7px rgb(255, 82, 82);