@import url("https://fonts.googleapis.com/css2? family= Ubuntu:wght@300;500;700 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu" cursive;
}
* body {
  background-image: url(https://w0.peakpx.com/wallpaper/220/854/HD-wallpaper-whatsapp-black-abstract-abstract-digital-abstraction-abstracts-background-digital-pattern-texture.jpg);
}

header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
header .title {
  margin: 0 auto;
  padding-block: 80px;
}
header .title .logo {
  width: 28%;
  -webkit-animation-name: rotacion_logo;
          animation-name: rotacion_logo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes rotacion_logo {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}
@keyframes rotacion_logo {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}
header .navbar {
  background-color: rgba(189, 27, 27, 0.413);
  border: 2px double #FFD700;
  border-right: none;
  border-left: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header .navbar .navbar-nav a {
  color: #FFD700;
  font-size: 2rem;
  font-family: "Ubuntu" cursive;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
header .navbar-nav :hover {
  color: #ffffff;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
  transform: scale(1.1) translatey(-5px);
}
header .title__hojas {
  width: 60%;
  font-family: "Reboto", cursive;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 20px;
  color: #FFD700;
  text-shadow: -3px 3px 8px rgb(195, 195, 195);
  margin: 0 auto;
  margin-block: 50px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.grid {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2" "item1 item3";
  gap: 2rem;
  margin-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid .grid__item {
  background-position: center center;
}
.grid .grid__item1 {
  grid-area: item1;
  background-color: rgba(189, 27, 27, 0.413);
  margin-top: 40px;
  width: 60%;
  padding-block: 30px;
  margin-left: 180px;
  border-top: 9px dotted #000;
  border-right: 4px double #FFD700;
  border-bottom: 4px double #FFD700;
  border-left: 4px double #FFD700;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.grid .grid__item1 h4 {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 1px 0px 7px rgb(255, 82, 82);
  font-family: "Kanit";
}
.grid .grid__item1:hover {
  background: rgb(1, 5, 11);
  background: radial-gradient(circle, rgb(208, 24, 24) 27%, rgba(121, 9, 20, 0.584) 61%);
}
.grid .grid__item2 {
  grid-area: item2;
  border: 4px double #FFD700;
  width: 80%;
  padding-block: 10px;
  margin-top: 5px;
  margin-right: 20rem;
  background-color: rgba(189, 27, 27, 0.413);
}
.grid .grid__item2 h5 {
  font-family: "Reboto", cursive;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 1px 0px 7px rgb(255, 82, 82);
}
.grid .grid__item2:hover {
  background: rgb(1, 5, 11);
  background: radial-gradient(circle, rgb(208, 24, 24) 27%, rgba(121, 9, 20, 0.584) 61%);
}
.grid .grid__item3 {
  grid-area: item3;
  background-image: url(../assets/tanonoticias.jpg);
  width: 400px;
  height: 400px;
  border-radius: 50px;
  margin-left: 15rem;
  margin-top: -30px;
  position: relative;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.75);
  border: 4px double rgb(255, 82, 82);
}
.grid .grid__item3:hover {
  transform: scale(1.1);
}
.grid .scrolls {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10rem;
  left: 30rem;
}
.grid .scrolls .scroll {
  width: 15px;
  height: 15px;
  background-color: darkgrey;
  border-radius: 50%;
}
.grid .scrolls .scroll-y {
  background-color: #FFD700;
}

.stars {
  display: flex;
  text-align: center;
  margin-left: 5px;
  margin-top: -30px;
  margin-bottom: 50px;
}
.stars .borde_stars {
  min-width: 100%;
  height: 40vh;
  border-top: 10px double #EBB600;
  border-right: none;
  border-bottom: 10px double #EBB600;
  border-left: none;
  filter: drop-shadow(0px 0px 5px rgb(197, 16, 16));
  font-family: "Kanit";
}
.stars .borde_stars .estrella {
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  margin: 50px 0;
  color: #0464e2;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #EBB600;
  transform: rotate(35deg);
  margin-left: 100px;
}
.stars .borde_stars .estrella::before {
  content: "";
  position: absolute;
  top: -45px;
  left: -65px;
  display: block;
  height: 0;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid #EBB600;
  transform: rotate(-35deg);
}
.stars .borde_stars .estrella::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -105px;
  display: block;
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #EBB600;
  transform: rotate(-70deg);
}
.stars .borde_stars .estrella .nick {
  transform: rotate(326deg);
  top: 135px;
  padding-left: 20px;
  position: absolute;
  color: #ffffff;
  text-shadow: 1px 0px 7px rgb(255, 82, 82);
}

.formulario {
  width: 50%;
  margin: auto;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border: 7px double #EBB600;
  font-family: "Reboto", cursive;
}

.grid__tienda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tabla1" "tabla2";
  margin-top: 10px;
}
.grid__tienda .grid__table .table1 {
  grid-area: tabla1;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.grid__tienda .grid__table .table2 {
  grid-area: tabla2;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.grid__tienda .tienda__table {
  margin: 0 auto;
  text-align: center;
  margin-block: 50px;
  padding-block: 60px;
  padding-inline: 150px;
  border: 11px double #ffffff;
}
.grid__tienda .tienda__table .tienda__jamon-img {
  width: 160px;
}
.grid__tienda .tienda__table .tienda__th {
  padding-inline: 50px;
  font-family: "Kanit";
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: -1px 3px 2px rgb(0, 0, 0);
}
.grid__tienda .tienda__table .button__comprar {
  display: flex;
  margin-top: 50px;
  font-family: "Reboto", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  color: #EBB600;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 2px 7px 8px 2px rgb(0, 0, 0);
  text-shadow: -1px 3px 2px rgb(0, 0, 0);
}

.grid__visitanos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "caja1 caja1" "caja2 caja3";
  margin-block: 10px;
}
.grid__visitanos .grid__visita {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  border: 10px ridge #FFD700;
  background-color: rgba(0, 0, 0, 0.373);
}
.grid__visitanos .grid__visita1 {
  grid-area: caja1;
  background-color: #EBB600;
  height: 335px;
  width: 580px;
  margin-top: 110px;
}
.grid__visitanos .grid__visita2 {
  grid-area: caja2;
  font-family: "Ubuntu" cursive;
  background-color: rgba(0, 0, 0, 0.39);
  font-size: 1.2rem;
  padding: 15px;
  color: #ffffff;
}
.grid__visitanos .grid__visita3 {
  grid-area: caja3;
  background-color: rgba(0, 0, 0, 0.39);
  font-family: "Ubuntu" cursive;
  font-size: 1.2rem;
  padding: 15px;
  color: #ffffff;
}

.aborder {
  width: 80%;
}
.aborder .grid__productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "producto1 producto2 producto3 producto4";
  padding-bottom: 100px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-top: 100px;
  text-align: center;
}
.aborder .grid__productos .grid__product1 {
  grid-area: producto1;
}
.aborder .grid__productos .grid__product2 {
  grid-area: producto2;
}
.aborder .grid__productos .grid__product3 {
  grid-area: producto3;
}
.aborder .grid__productos .grid__product4 {
  grid-area: producto4;
}
.aborder .grid__productos .product-img {
  border-radius: 30px;
}

.footer__producto {
  background-color: #EBB600;
  display: flex;
  align-items: center;
  gap: 120px;
  padding-left: 40px;
  margin-block: 70px;
}
.footer__producto .product-img:hover {
  transform: scale(1.1);
}
.footer__producto .text-qr {
  font-size: 3rem;
  font-family: "Kanit";
  text-shadow: -3px 3px 8px rgb(0, 0, 0);
  color: #800707;
  letter-spacing: 2px;
}

.section__contacto {
  display: flex;
  padding-block: 50px;
}
.section__contacto .contacto__div {
  margin: 0 auto;
  padding: 90px;
  width: 500px;
  color: #ffffff;
  border: 8px ridge #ffffff;
  background-color: rgba(12, 14, 13, 0.4862745098);
  text-align: center;
}
.section__contacto .contacto__div .title_contacto-div {
  font-family: "Kanit";
  font-size: 4rem;
  color: #EBB600;
  text-shadow: 1px 4px 5px rgb(0, 0, 0);
}
.section__contacto .contacto__div .contacto__area {
  margin-block: 40px;
  font-size: 1rem;
}
.section__contacto .contacto__div .contacto__box {
  font-size: 1.5rem;
  margin-block: 20px;
}

fieldset {
  display: flex;
  text-align: center;
  border: 8px double #ffffff;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding-block: 10px;
  margin-bottom: 40px;
}
fieldset .legend {
  font-size: 2rem;
  padding-inline: 10px;
  font-weight: bold;
  color: #FFD700;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
fieldset .redes {
  display: flex;
  gap: 160px;
  margin: 0 auto;
  padding-bottom: 25px;
}
fieldset .redes .redes-img {
  height: 70px;
}

/* ******MEDIA QUERIES************ */
@media screen and (max-width: 480px) {
  .title .logo {
    width: 80%;
  }
  .grid {
    margin-left: 10px;
  }
  .grid .grid__item1 {
    font-size: 1.6rem;
    margin-block: 10px;
  }
  .grid .grid__item2 {
    letter-spacing: 3px;
    font-size: 2rem;
    width: 100%;
  }
  .grid .grid__item3 {
    margin-left: 0;
  }
  .grid .scrolls {
    position: absolute;
    bottom: -5rem;
    left: 11rem;
  }
  fieldset {
    width: 100%;
    margin-top: 100px;
    padding-block: 10px;
    margin-bottom: 40px;
  }
  fieldset .legend {
    font-size: 2rem;
    padding-inline: 0px;
  }
  fieldset .redes {
    gap: 50px;
    padding-bottom: 10px;
  }
  fieldset .redes .redes-img {
    height: 70px;
  }
  /* **********TIENDA MEDIA********** */
  header .title__hojas {
    letter-spacing: 3px;
    font-size: 4rem;
    width: auto;
  }
  .grid__table {
    width: 480px;
    margin: 0;
  }
  .grid__table .tienda__table {
    margin-block: 10px;
    padding-block: 15px;
    padding-inline: 0;
  }
  .grid__table .tienda__table .tienda__th {
    font-size: 1rem;
    padding-inline: 20px;
  }
  .grid__table .tienda__table .button__comprar {
    font-size: 1rem;
  }
  /* **********VISITANOS MEDIA********** */
  .grid__visitanos {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .grid__visitanos .grid__visita1 {
    width: 90%;
    margin-top: 10px;
  }
  .grid__visitanos .grid__visita1 .video {
    width: 100%;
  }
  /* **********PRODUCTOS MEDIA********** */
  .aborder {
    width: 100%;
    margin-top: 10px;
  }
  .aborder .grid__productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "producto1 producto2" "producto3 producto4";
    padding-bottom: 15px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 90px;
    margin-top: 20px;
    text-align: center;
  }
  .aborder .grid__productos .product-img {
    width: 190px;
  }
  .footer__producto {
    gap: 10px;
    padding-left: 10px;
    margin-block: 50px;
  }
  .footer__producto .text-qr {
    font-size: 2rem;
    font-family: "kanit";
    text-shadow: -3px 3px 8px rgb(0, 0, 0);
    color: #800707;
    letter-spacing: 1px;
  }
  .section__contacto {
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .section__contacto .contacto__div {
    width: 90%;
    padding: 0;
  }
}/*# sourceMappingURL=estilo.css.map */