@import url("https://fonts.googleapis.com/css2? family= Ubuntu:wght@300;500;700 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu" cursive;
}
* body {
  background-image: url(https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
header .title {
  margin: 0 auto;
  padding-block: 50px;
}
header .title :hover {
  transform: scale(1.1) translatey(-10px);
}
header .title .logo {
  box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.88);
}
header .navbar-nav a {
  color: #e6c614;
  font-size: 2rem;
  font-family: "Ubuntu" cursive;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
header .navbar-nav :hover {
  color: #ffffff;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
  transform: scale(1.1) translatey(-5px);
}

.grid {
  display: grid;
  grid-template-columns: 0.7fr;
  grid-template-rows: 0.5fr 0.2fr 0.5fr;
  grid-template-areas: "item1 " "item2" "item3";
  gap: 2rem;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid .grid__item {
  background-position: center center;
}
.grid .grid__item1 {
  grid-area: item1;
  background-color: rgba(0, 0, 0, 0.265);
  box-shadow: -1px 4px 14px 1px rgba(0, 0, 0, 0.95);
  margin-block: 50px;
  padding-block: 10px;
}
.grid .grid__item1 h4 {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 1px 0px 7px rgb(0, 0, 0);
}
.grid .grid__item2 {
  grid-area: item2;
  border: 4px outset #e6c614;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 80%;
  padding-block: 10px;
  margin: auto;
}
.grid .grid__item2 h5 {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 3rem;
  color: #ffaf50;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
.grid .grid__item2:hover {
  background: rgb(1, 5, 11);
  background: radial-gradient(circle, rgba(208, 24, 24, 0.553) 27%, rgba(121, 9, 20, 0.584) 61%);
}
.grid .grid__item3 {
  grid-area: item3;
  background-image: url(../assets/tanonoticias.jpg);
  width: 400px;
  height: 400px;
  border-radius: 50px;
  margin-left: 15rem;
  position: relative;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}
.grid .grid__item3:hover {
  transform: scale(1.1);
}
.grid .grid__item1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.grid .grid__item2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.grid .grid__item3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.grid .scrolls {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10rem;
  left: 30rem;
}
.grid .scrolls .scroll {
  width: 15px;
  height: 15px;
  background-color: darkgrey;
  border-radius: 50%;
}
.grid .scrolls .scroll-y {
  background-color: #ffaf50;
}

fieldset {
  display: flex;
  text-align: center;
  border: 8px double #ffffff;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding-block: 10px;
  margin-bottom: 40px;
}
fieldset .legend {
  font-size: 2rem;
  padding-inline: 10px;
  font-weight: bold;
  color: #ffaf50;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
fieldset .redes {
  display: flex;
  gap: 160px;
  margin: 0 auto;
  padding-bottom: 10px;
}
fieldset .redes .redes-img {
  height: 70px;
}

/* ******MEDIA QUERIES************ */
@media screen and (max-width: 480px) {
  .title .logo {
    width: 80%;
  }
  .grid {
    margin-left: 10px;
  }
  .grid .grid__item1 {
    font-size: 1.6rem;
    margin-block: 10px;
  }
  .grid .grid__item2 {
    letter-spacing: 3px;
    font-size: 2rem;
    width: 100%;
  }
  .grid .grid__item3 {
    margin-left: 0;
  }
  .scrolls {
    position: absolute;
    bottom: -4rem;
    left: 11rem;
  }
  .legend {
    font-size: 1rem;
  }
  .legend .redes {
    gap: 10px;
  }
  .legend .redes .redes-img {
    height: 60px;
  }
}/*# sourceMappingURL=estilo.css.map */