@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300;500;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 );

}

/* *********nav & title******* */

.section__header {
    display: flex;
    width: 100%;
}

.header {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;

}

.title {
    width: auto;
    font-family: 'Ubuntu';
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -3px 3px 8px rgba(0, 0, 0, 1);
    box-shadow: 2px 7px 8px 2px rgba(0, 0, 0, 1);
    border: 8px ridge #ffe450;
    margin: 0 auto;
    margin-block: 30px;

}

.header__menu{
    width: 100%;
}

.navbar-nav a {
    color: #e6c614;
    font-size: 2rem;
    font-family: 'Ubuntu';
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 4px 4px 2px rgba(0,0,0,1);
}

.navbar-nav :hover{
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(0,0,0,1);
    transform: scale(1.1) translatey(-5px);

}


/* *********ENCABEZADO TIENDA******** */
/* **************GRID************ */

.grid__tienda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tabla1"
        "tabla2";
    margin-top: 10px;

}

.tienda__table {
    margin: 0 auto;
    text-align: center;
    margin-block: 50px;
    padding-block: 60px;
    padding-inline: 150px;
    border: 11px double #e3dede;

}

.table1 {
    grid-area: tabla1;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.table2 {
    grid-area: tabla2;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.tienda__jamon-img {
    width: 160px;

}

.tienda__th {
    padding-inline: 50px;

    font-family: 'kanit';
    font-size: 1.5rem;
    color: antiquewhite;
    text-shadow: -1px 3px 2px rgba(0, 0, 0, 1);

}


.button__comprar {
    display: flex;
    margin-top: 50px;
    font-family: 'reboto';
    font-weight: bold;
    font-size: 1.5rem;
    color: #d9cc16;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 2px 7px 8px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 3px 2px rgba(0, 0, 0, 1);

}



/* ****************** HOJA VISITANOS********************* */

.grid__visitanos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caja1 caja1"
        "caja2 caja3";
    margin-block: 10px;

}

.grid__visita {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border: 10px ridge #b3970f;


}

.grid__visita1 {
    grid-area: caja1;
    background-color: #d9cc16;
    height: 335px;
    width: 580px;
    margin-top: 60px;
}

.grid__visita-mobile{
    display: none;
    grid-area: caja1;
    background-color: #d9cc16;
    height: 335px;
    width: 580px;
    margin-top: 60px;
}

.grid__visita2 {
    grid-area: caja2;
    background-color: aqua;
    font-family: 'Ubuntu', cursive;
    background-color: rgba(0, 0, 0, 0.39);
    font-size: 1.2rem;
    padding: 15px;
    color: white;
    /* border: 10px ridge #b3970f; */
}

.grid__visita3 {
    grid-area: caja3;
    background-color: rgba(0, 0, 0, 0.39);
    font-family: 'Ubuntu', cursive;
    font-size: 1.2rem;
    padding: 15px;
    color: white;
    /* border: 10px ridge #b3970f; */
}

fieldset {
    display: flex;
    text-align: center;
    border: 8px double #ffffff;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding-block: 10px;
    margin-bottom: 40px;

}

.legend {
    font-size: 2rem;
    padding-inline: 10px;
    font-family: 'reboto', cursive;
    font-weight: bold;
    color: #ffaf50;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    width: 100vh;

}


.redes {
    display: flex;
    gap: 160px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.redes-img {
    height: 70px;
}

/* ***********HOJA PRODUCTOS**************** */

fieldset{
    width: 100%;
}

.grid__productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "producto1 producto2 producto3 producto4";
    padding-bottom: 100px;
    column-gap: 50px;
    margin-top: 100px;
    text-align: center;
}

.product-img {
    border-radius: 30px;
}

.grid__product1 {
    grid-area: producto1;

}

.grid__product2 {
    grid-area: producto2;
}

.grid__product3 {
    grid-area: producto3;

}

.grid__product4 {
    grid-area: producto4;
}


.footer__producto {
    background-color: #d9cc16;
    display: flex;
    align-items: center;
    gap: 120px;
    padding-left: 40px;
    margin-block: 70px;
}

.product-img:hover{
    transform: scale(1.1)
}

.text-qr {
    font-size: 3rem;
    font-family: 'kanit';
    text-shadow: -3px 3px 8px rgba(0, 0, 0, 1);
    color: #800707;
    letter-spacing: 2px;
}

/* ******************* HOJA CONTACTO  ******************* */

.section__contacto {
    display: flex;
    padding-block: 50px;


}

.contacto__div {
    margin: 0 auto;
    padding: 90px;
    width: 500px;
    color: #ffffff;
    border: 8px ridge #e3d0d0;
    background-color: #0c0e0d7c;
    text-align: center;


}

.title_contacto-div {
    font-family: 'kanit';
    font-size: 4rem;
    color: #ffe450;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 1);

}

.contacto__area {
    margin-block: 40px;
    font-size: 1rem;
}

.contacto__box {
    font-size: 1.5rem;
    margin-block: 20px;


}

/* ***MEDIA QUARE***** */
@media screen and (max-width: 480px) {

    /* **********TIENDA MEDIA********** */

    .title {
        font-size: 3rem;
        width: auto;
        padding-left: 20px;

    }


    .grid__table {
        width: 480px;
        margin: 0;

    }

    .tienda__table {
        margin-block: 10px;
        padding-block: 15px;
        padding-inline: 0;
    }

    .tienda__th {
        font-size: 1rem;
        padding-inline: 20px;
    }

    .button__comprar {
        font-size: 1rem;
    }

    /* **********VISITANOS MEDIA********** */

    .grid__visitanos {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .grid__visita1 {
        display: none;
    }

    .grid__visita-mobile {
        display: block;
        height: 335px;
        width: 480px;
    }

    /* **********PRODUCTOS MEDIA********** */
    
    .grid__productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr) ;
        grid-template-areas:
            "producto1 producto2"
             "producto3 producto4";
        padding-bottom: 50px;
        column-gap: 80px;
        row-gap: 90px;
        margin-top: 80px;
        text-align: center;
    }

    .product-img{
        width: 190px;
    }

    .footer__producto {
        gap: 10px;
        padding-left: 10px;
        margin-block: 50px;
    }

    .text-qr {
        font-size: 2rem;
        font-family: 'kanit';
        text-shadow: -3px 3px 8px rgba(0, 0, 0, 1);
        color: #800707;
        letter-spacing: 1px;
    }
}